
  <tr>
    <td><%= link_to event.title, event %> </td>
<!--  <td><%#= event.description %></td>-->
    <td><%= event.venue %></td>
    <td><%= event.date_time %></td>

   <% if logged_in? && current_user.admin? %>
    <td>
      <%= link_to "Delete", event_path(event), method: :delete,
                  data:{confirm: "Are you sure?"} %>
    </td>
  <% end %>
  </tr>
</table>


