
<div class="headline">
  <i>A seminar on </i><br/><big>Girls Can Code</big>
</div>
<%= image_tag("gcc.jpg") %>
<div class="content">
  <p>
    The first person to code was a Girl. So, any girls can code and
    they can code better.
  </p>
</div>
</body>
</html>
