<div class="container ">
  <% user_id = current_user.id %>
  <form method="post" action="/register">
    <input type="hidden" id="userId" name="userId" value="<%= user_id %>">
    <% Event.all.each do |event| %>
      <h4><%= event.title %></h4>
      <% if UserEvent.exists?(user_id: user_id, event_id: event.id) == true %>
        <div style="color: blue">Registered</div>
      <% else %>
        <%= check_box_tag "event_ids[]", event.id %>
      <% end %>
    <% end %>
    <input type="submit" value="Submit">
  </form>
</div>