//@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/* header */

//#logo {
//  float: left;
//  margin-right: 10px;
//  font-size: 1.7em;
//  color: #fff;
//  text-transform: uppercase;
//  letter-spacing: -1px;
//  padding-top: 9px;
//  font-weight: bold;
//}
//
//#logo:hover {
//  color: #fff;
//  text-decoration: none;
//}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Users index */

.users {
  margin-left: 10px;
  li{
    list-style-type: decimal;
    overflow: visible ;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

h1{
  color: #730E15;
}

.eventform {

}


td{
  font-size: 1.3em;
}

th {
  text-decoration: underline;
}

td, th {
  border: none;
  text-align: center;
  padding: 8px;
}

.display {
  border: #222222;
}




